* {
    outline: none;
}

QMainWindow {
    background: #333;
    color: #eee;
}

QWidget {
    color: #eee;
}

QPushButton {
    background: transparent;
    border: none;
    padding: 10px;
    font-family: "Segoe MDL2 Assets";
}

QPushButton QFont {
    qproperty-styleStrategy: "QFont::NoAntialias";
}

QPushButton:hover {
    background: #444;
}

QPushButton:pressed {
    background: #555;
}


/* We don't need the buttons */
QSpinBox::up-button, QSpinBox::down-button {
    width: 0;
    height: 0;
}

QSpinBox {
    background: transparent;
}


QSlider::groove:horizontal {
    background: transparent;
}


QSlider::handle:horizontal {
    background: #eee;
    border: none;
    width: 5px;
}


QStatusBar {
    background: #222;
}

ChannelBox {
    min-width: 200px;
    min-height: 300px;
}

Outliner {
    min-width: 150px;
    max-width: 150px;
}

QTableView:!active, QTableView:!focus {
    color: #ddd;
}

QTableView:selected {
    color: #ddd;
}

QDockWidget::title {
    background: #333;
    border: none;
    color: white;
    height: 0;
    max-height: 0;
    min-height: 0;
}

QTableView {
    color: #ddd;
    background: #444;
    border: none;
    border-top: 1px solid #222;
    gridline-color: #222;
    gridline-color: #444;
    font-size: 11px;
}

QTableView::item {
    padding: 0px;
    border: 0px;
    text-align: right;
    height: 5px;
}

QTableView::item:selected:!active {
    color: white;
}

#MatrixView {
    font-family: "Courier New";
    font-size: 11px;
}

QTableView::item:selected,
QTableView::item:active {
    border: none;
}

QTableView::item:hover {
    color: white;
}

QTableView::item:selected:!active {
    background: transparent;
}

QTableView::item:selected:active, QTableView::item:selected:!focus {
    background: #777;
}

QLabel {
    font-weight: bold;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

QScrollBar:vertical {
    border: 2px solid transparent;
    background: transparent;
    width: 15px;
    margin: 0;
}

QScrollBar::handle:vertical {
    background: #999;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: white;
}

QScrollBar::add-line:vertical {
    border: 2px solid transparent;
    background: transparent;
    height: 20px;
}

QScrollBar::sub-line:vertical {
    border: 2px solid transparent;
    background: transparent;
    height: 20px;
}

QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid transparent;
    width: 22px;
    height: 22px;
    background: transparent;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QLineEdit, QDoubleSpinBox {
    background: #333;
    color: #eee;
    border: none;
    selection-background-color: #555;
}

QSpinBox::up-button,
QDoubleSpinBox::up-button,
QSpinBox::down-button,
QDoubleSpinBox::down-button {
    background: #111;
}

QSpinBox::up-button:hover,
QSpinBox::down-button:hover,
QDoubleSpinBox::up-button:hover,
QDoubleSpinBox::down-button:hover {
    background: #555;
}